body{
    background: skyblue;
   }
*{
    box-sizing: border-box;
       
}
.a{
    width: 400px;
    margin: auto;
    height: auto;
    padding: 15px;
    background: rgb(202, 188, 188);
}
input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
input[type=button]{
    width: 89px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}
#del{
    width: 100%;
 }
